<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>SBee</title>
  </head>
  <body onload="init()">
    <div class="container m-1">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title"><b>{{ data['centerLetter'] }}</b> {{ data['outerLetters'] }} </h4>
              <input class="form-control" id="inputWords"></input>
              <button type="button" class="btn btn-primary m-1" onclick="update()">Submit</button>
              <div id="liveAlertPlaceholder"></div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" id="score">Score: 0</h5>
              <p class="card-text" id="levelsPlaceholder">:</p>
              <p class="card-text" id="foundCountPlaceholder">Found:</p>
              <p class="card-text" id="foundWords"></p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
                <button type="button" class="btn btn-danger m-1" onclick="reveal('hints')">Hints</button>
                <div id="hints" class="d-none">
                </div>
                <button type="button" class="btn btn-danger m-1" onclick="reveal('answers')">Answers</button>
                <div id="answers" class="d-none">
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src={{ url_for("static", filename="sbee.js") }}></script>
    <script>
        const answers = new Set("{{ data['answers'] }}".split(/\s+/g));
        const pangrams = new Set("{{ data['pangrams'] }}".split(/\s+/g));
		const puzzle_id = "{{ data['id'] }}";
    </script>
  </body>
</html>
